html {
    box-sizing: border-box;
    background: #43975f;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }

  body {
    margin: 0;
  }

  /* h1 {
    z-index: 1;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    text-align: center;
    background-image: url('https://images.assetsdelivery.com/compings_v2/merkulovnik/merkulovnik1512/merkulovnik151200158.jpg');
     background-position: bottom;
    margin: 0 0 0 0;
  } */

  /* *, *:before, *:after {
    box-sizing: inherit;
  } */

  #panels-container {
        min-height: 100vh;
        border: 1px solid blue;
        /* overflow: hidden; */
        display: flex;
  }

  .panel {
    border: 2px dotted red;
    /* box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1); */
    color: white;
    /* text-align: center; */
    align-items: center; 
    /* Safari transitionend event.propertyName === flex  */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    /* font-size: 20px; */
    background-size: cover;
    background-position: center;
    flex: 1;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    /* flex-direction: column;  */
  }

  .panel > * {
    /* margin: 0; */
    /* width: 100%; */
    /* transition: transform 0.5s; */
    /* flex: .5 0 auto; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
  }

  .panel > *:first-child { transform: translateY(-100%); }
  .panel.open-active > *:first-child { transform: translateY(0); }
  /* .panel > *:nth-child(2) { transform: translateY(-200%); }
  .panel.open-active > *:nth-child(2) { transform: translateY(0); } */
  .panel > *:last-child { transform: translateY(100%); }
  .panel.open-active > *:last-child { transform: translateY(0); }
  

  .veggie-info {
      max-height: 40vh;
      flex: 2;
      border: 2px solid black;
      overflow-y: scroll;
  }

  .instructions {
    max-height: 40vh;
    flex: 2;
    border: 2px solid black;
    overflow-y: scroll;
  }

  .comments {
      max-height: 30vh;
      flex: 1;
      border: 2px solid black;
      overflow-y: scroll;
  }


  .panel.open {
    flex: 6;
    font-size: 20px;
    /* display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 50%; */
  }