.comments {


}

.comment-header {

}

.comments-container {
    width: 90%;
    height: 40%;
    overflow-y: scroll;
}

.comment {

}

.user-comment {

}

.delete-comment {

}

.comment-form {
    
}