.modal-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal {
    width: 500px;
    height: 300px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

.username {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.modal-avatar {
    width: 25%;
    height: 40%;
    margin: 20px auto;
}


.modal-button {
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-size: large;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    background: none;
    cursor: pointer
    /* position: absolute;
    left: 100px;
    top: 150px; */
    }
    .modal-button:hover{
    color:#DDDDDD;
    border-color:#DDDDDD;
    }
    .modal-button:active{
    color:#BBBBBB;
    border-color:#BBBBBB;
    }
    @media all and (max-width:30em){
      .modal-button{
    display:block;
    margin:0.4em auto;
    }
    }

/* .sign-up-button {

} */

